.card {
  max-width: 400px;
  border-top: 4px solid transparent;
  border-radius: 5px;
  box-shadow: 0 5px 6px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  justify-self: center;
  position: relative;

  &--cyan {
    border-color: $color-primary-cyan;

    @media (min-width: 900px) {
      position: relative;
      top: 60%;
    }
  }

  &--red {
    border-color: $color-primary-red;
  }

  &--orange {
    border-color: $color-primary-orange;

    @media (min-width: 900px) {
      position: relative;
      top: 60%;
    }
  }

  &--blue {
    border-color: $color-neutral-dark-blue;

    @media (min-width: 900px) {
      grid-column: 2/3;
    }
  }

  &__img {
    float: right;
    margin-top: 1.2rem;
  }
}
